@use '../../../themes' as *;

:host {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    .full-width-table {
        width: 100%;
    }

    .categoriaNome {
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .actions a {
        /* padding: 5px; */

        .edit {
            color: nb-theme(primary);
            cursor: pointer;
        }

        .delete {
            color: nb-theme(danger);
            cursor: pointer;
        }

        .pay {
            color: nb-theme(warning);
            cursor: pointer;
        }
    }
}