:host {
    width: 30vw;
    display: flex;
    flex-direction: column;

    nb-card-header {
        text-align: center;
        font-size: 1.5rem;
    }
    
    nb-card-footer {
        display: flex;
        justify-content: space-around;
    }
    
    form {
        input {
            margin-bottom: 15px;
        }
    }
    
    .link-cadastro {
        text-align: center;
    }
    
    .fieldAlert {
        height: 100px;
        width: 28vw;
        position: absolute;
        bottom: 0;
    }
    
    .borderDanger {
        border: 1px solid rgba(255, 0, 0, 0.6);
    }
}