<div>
    <nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
        <nb-card-body>
            <nb-tabset>
                <nb-tab tabTitle="Cadastro">

                    <app-formulario-pessoas actionButton="Cadastrar"></app-formulario-pessoas>

                </nb-tab>
                <nb-tab tabTitle="Pesquisa">

                    <app-tabela-pessoas></app-tabela-pessoas>

                </nb-tab>
            </nb-tabset>
        </nb-card-body>
    </nb-card>
</div>
<app-button-alert class="buttonAlert" *ngIf="fieldAlert" infoAlert="{{message}}" status="{{status}}"></app-button-alert>