:host {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
    .formCategoria {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}